# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node / React
node_modules/
build/
client/node_modules/
client/build/

# Android
qaboard_android/.gradle/
qaboard_android/app/build/
qaboard_android/local.properties
